# Damascus Database
db/damascus.db
db/damascus.py

# Venv
env/

#application or OS
.vscode
.DS_Store

#Images related data
*.psb
*.psd
*.tif
*.jpg

# Keys
*.ini

# Documents
*4Q51-Example.zip
*chromedriver_mac64.zip
*.pdf

# Documents to Make Public After Project's Conclusion
bibliography/james/
methodology/editions/transcription/